<footer>
    <hr>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <h5>OPENING TIME</h5>
                        <ul>
                            <li>Mon - Fri: 8AM - 10PM</li>
                            <li>Sat: 9AM - 8PM</li>
                            <li>Suns: 14PM - 18PM</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>INFORMATION</h5>
                        <ul>
                            <li>About Us</li>
                            <li>Checkout</li>
                            <li>Contact</li>
                            <li>Frequently Question</li>
                            <li>Wishlist</li>
                        </ul>
                    </div>
                    <h6 class="py-4 ml-3">We Work All The Holidays</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="https://htmldemo.net/lukani/lukani/assets/img/logo/logo.png" alt="anh" width="150px">
                </div>
                <ul>
                    <div class="row my-4">
                        <li class="pr-5">Payment</li>
                        <li class="pr-5">Affiliates</li>
                        <li class="pr-5">Contact</li>
                        <li>Internet</li>
                    </div>
                </ul>
                <div class="icon my-4">
                    <ul>
                        <div class="row">
                            <li><a href="#"><i class="fa-brands fa-facebook text-body"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter text-body"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google-plus-g text-body"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube text-body"></i></a></li>
                        </div>
                    </ul>
                </div>
                <div class="row my-4">
                    <div class="col-md-6">
                        <img src="https://htmldemo.net/lukani/lukani/assets/img/icon/icon-app.jpg" alt="anh" width="100%">
                    </div>
                    <div class="col-md-6">
                        <img src="https://htmldemo.net/lukani/lukani/assets/img/icon/icon1-app.jpg" alt="anh" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <h5>MY ACCOUNT</h5>
                        <ul>
                            <li>My Account</li>
                            <li>Contact</li>
                            <li>Shopping cart</li>
                            <li>Checkout</li>
                            <li>Shop</li>
                            <li>Order History</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>CUSTORMER</h5>
                        <ul>
                            <li>Contact Us</li>
                            <li>Terms of use</li>
                            <li>Privacy Policy</li>
                            <li>Site Map</li>
                            <li>My Account</li>
                            <li>Return</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
