@import "../../../../styles.scss";

main {
  margin-top: 110px;
  .box-title {
    padding: 10px 0;
    .default {
      text-decoration: none;
      color: #999999;
      &:hover {
        color: $main-color;
      }
    }
    .title {
      font-size: 50px;
    }
  }
}

.box-title {
  background-color: #e9ecef;
  height: 200px;
}

.box-title h3 {
  margin-top: 40px;
  font-family: "Lora", serif;
}
h4 {
  padding-top: 25px;
  font-family: "Lora", serif;
}

.about_thumb {
  text-align: center;
}

.icon {
  text-align: center;
}

.about1 {
  text-align: center;
  // padding-left: 15px;
}
.about1 img {
  width: 370px;
}

.about2 {
  width: 100%;
  position: absolute;
}

.about3 {
  position: relative;
}
