<app-header></app-header>

<main>
  <div class="text-center box-title">
    <h3 class="title">About</h3>
    <nav class="breadcrumb text-center d-flex justify-content-center">
      <a class="breadcrumb-item default" routerLink="/">Home</a>
      <span class="breadcrumb-item active">About</span>
    </nav>
  </div>
  <div class="container mt-5">
    <div class="about_thumb">
      <img class="card-img" src="https://htmldemo.net/lukani/lukani/assets/img/about/about1.jpg" alt="...." />
      <h4 class="pt-3">
        We Are A Digital Agency Focused On Delivering Content And Utility
        User-Experiences.
      </h4>
      <p>
        Adipiscing lacus ut elementum, nec duis, tempor litora turpis dapibus.
        Imperdiet cursus odio tortor in elementum. Egestas nunc eleifend feugiat
        lectus laoreet, vel nunc taciti integer cras. Hac pede dis, praesent nibh
        ac dui mauris sit. Pellentesque mi, facilisi mauris, elit sociis leo
        sodales accumsan. Iaculis ac fringilla torquent lorem consectetuer,
        sociosqu phasellus risus urna aliquam, ornare.
      </p>
      <img src="https://htmldemo.net/lukani/lukani/assets/img/about/about-us-signature.png" alt="" />
    </div>
  </div>

  <img class="about2 mt-5" src="https://htmldemo.net/lukani/lukani/assets/img/about/about-us-policy-bg.jpg" alt="anh" />
  <div class="container pt-4 about3 my-5">
    <div class="row py-5">
      <div class="col-md-4 icon pt-3">
        <img src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon1.png" alt="" />
        <h4>Creative Design</h4>
        <p>
          Erat metus sodales eget dolor consectetuer, porta ut purus at et alias,
          nulla ornare velit amet
        </p>
      </div>
      <div class="col-md-4 icon pt-3">
        <img src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon2.png" alt="" />
        <h4>100% Money Back Guarantee</h4>
        <p>
          Erat metus sodales eget dolor consectetuer, porta ut purus at et alias,
          nulla ornare velit amet
        </p>
      </div>
      <div class="col-md-4 icon pt-3">
        <img src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon3.png" alt="" />
        <h4>Online Support 24/7</h4>
        <p>
          Erat metus sodales eget dolor consectetuer, porta ut purus at et alias,
          nulla ornare velit amet
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row pt-5">
      <div class="col-md-4 about1">
        <img src="https://htmldemo.net/lukani/lukani/assets/img/about/about2.jpg" alt="" />
        <h4>What Do We Do?</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
          illo inventore veritatis et quasi architecto
        </p>
      </div>
      <div class="col-md-4 about1">
        <img src="https://htmldemo.net/lukani/lukani/assets/img/about/about3.jpg" alt="" />
        <h4>Our Mission</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
          illo inventore veritatis et quasi architecto
        </p>
      </div>
      <div class="col-md-4 about1">
        <img src="https://htmldemo.net/lukani/lukani/assets/img/about/about4.jpg" alt="" />
        <h4>History Of Us</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
          illo inventore veritatis et quasi architecto
        </p>
      </div>
    </div>
  </div>
  <hr />
</main>


<app-footer></app-footer>
