<app-header></app-header>

<main>
  <div class="text-center box-title">
    <h3 class="title">About</h3>
    <nav class="breadcrumb text-center d-flex justify-content-center">
      <a class="breadcrumb-item default" routerLink="/">Home</a>
      <span class="breadcrumb-item active">About</span>
    </nav>
  </div>
  <img
    class="card-img mt-3"
    src="https://htmldemo.net/lukani/lukani/assets/img/about/about1.jpg"
    alt="...."
  />
  <div class="container mt-5">
    <div class="about_thumb">
      <h4 class="pt-3">
        We Are A Digital Agency Focused On Delivering Content And Utility
        User-Experiences.
      </h4>
      <p>
        We are a digital agency dedicated to providing valuable content and
        user-centric experiences. Our focus lies in crafting unique, interactive
        experiences that captivate audiences. We've established ourselves as a
        distinctive digital entity, blending creativity with technology
        seamlessly.
      </p>
      <p>
        At our core, we emphasize building quality, unparalleled content.
        Recognizing content's pivotal role in engaging users, we not only create
        compelling narratives but also ensure the seamless transmission of core
        messages.
      </p>
      <p>
        Moreover, our emphasis extends to delivering utility-driven user
        experiences. We comprehend technology's transformative impact on user
        interactions, harnessing cutting-edge tools to develop responsive
        applications and interfaces that deliver tangible value.
      </p>
      <p>
        Proudly driving innovation and adaptability, we embrace each project.
        With a future-forward outlook, we're committed to shaping and enhancing
        how content and technology contribute to the success of our clients and
        partners.
      </p>
      <img
        src="https://htmldemo.net/lukani/lukani/assets/img/about/about-us-signature.png"
        alt=""
      />
    </div>
  </div>

  <div class="banner-about position-relative">
    <img
      class="mt-5 w-100 banner"
      src="https://htmldemo.net/lukani/lukani/assets/img/about/about-us-policy-bg.jpg"
      alt="image"
    />
    <div class="container pt-4 my-5">
      <div
        class="row jsutify-content-center align-items-center content-about position-absolute py-5"
      >
        <div class="col-md-4 icon pt-3">
          <img
            src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon1.png"
            alt="image"
          />
          <h4>Creative Design</h4>
          <p>
            Erat metus sodales eget dolor consectetuer, porta ut purus at et
            alias, nulla ornare velit amet
          </p>
        </div>
        <div class="col-md-4 icon pt-3">
          <img
            src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon2.png"
            alt=""
          />
          <h4>100% Money Back Guarantee</h4>
          <p>
            Erat metus sodales eget dolor consectetuer, porta ut purus at et
            alias, nulla ornare velit amet
          </p>
        </div>
        <div class="col-md-4 icon pt-3">
          <img
            src="https://htmldemo.net/lukani/lukani/assets/img/about/About_icon3.png"
            alt=""
          />
          <h4>Online Support 24/7</h4>
          <p>
            Erat metus sodales eget dolor consectetuer, porta ut purus at et
            alias, nulla ornare velit amet
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row pt-5">
      <div class="col-md-4">
        <img
          class="w-100"
          src="https://htmldemo.net/lukani/lukani/assets/img/about/about2.jpg"
          alt=""
        />
        <h4>What Do We Do?</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto
        </p>
      </div>
      <div class="col-md-4">
        <img
          class="w-100"
          src="https://htmldemo.net/lukani/lukani/assets/img/about/about3.jpg"
          alt=""
        />
        <h4>Our Mission</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto
        </p>
      </div>
      <div class="col-md-4">
        <img
          class="w-100"
          src="https://htmldemo.net/lukani/lukani/assets/img/about/about4.jpg"
          alt=""
        />
        <h4>History Of Us</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto
        </p>
      </div>
    </div>
  </div>
  <hr />
</main>

<app-footer></app-footer>
