@import "../../../../styles.scss";

h3 {
  font-family: "Lora", serif;
}

main {
  margin-top: 110px;
  margin-top: 110px;
  .box-title {
    padding: 10px 0;
    background-color: #e9ecef;
    h3 {
      margin-top: 40px;
      font-family: "Lora", serif;
    }
    .default {
      text-decoration: none;
      color: #999999;
      &:hover {
        color: $main-color;
      }
    }
    .title {
      font-size: 50px;
    }
  }
}


i {
  padding-right: 10px;
}

button:hover {
  border: 1px solid #79a206;
  background-color: #79a206;
}
