<app-header></app-header>

<main>
  <div class="container">
    <div class="profile-user-details text-center">
      <div class="user-image">
        <img [src]="avatar" alt="">
      </div>
      <div class="profile-user-name">
        <h3>Tuấn Flute</h3>
      </div>
      <div class="profile-user-login-details">
        <p>
          +84386564543
          <a>
            <i class="fa fa-pencil"></i>
          </a>
        </p>
        <p>
          tuanflute275@gmail.com
          <a>
            <i class="fa fa-pencil"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="cart-product-list">
      <div class="cart-product-list-heading my-4">Wishlist</div>
      <div class="cart-product-list-main">
        <div class="cart-product-list-grid d-flex align-items-center" *ngFor="let item of favorites">
          <div class="cart-product-list-image">
            <a (click)="getDetailProduct(item.id)">
              <img class="card-img-top img-product" src="{{item.image}}" alt="image">
            </a>
          </div>
          <div class="cart-product-list-details">
            <div class="cart-product-tittle">
              <a routerLink="/home/productDetail">{{item.name}}</a>
            </div>
            <div class="cart-product-price">
              <p class="card-text">{{item.price | currency:"USD":"symbol":"0.0"}}</p>
            </div>
            <div class="cart-quantity-size mt-3">
            </div>
            <div class="cart-stock-text">Instock</div>
          </div>
          <div class="cart-product-remove-btn">
            <a (click)="removeFavorite(item.id)">
              <i class="fa fa-remove"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<app-footer></app-footer>
