<app-header></app-header>

<main>
  <div class="text-center box-title">
    <h3 class="title">Shop</h3>
    <nav class="breadcrumb text-center d-flex justify-content-center">
      <a class="breadcrumb-item default" routerLink="/">Home</a>
      <span class="breadcrumb-item active">Shop</span>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <form [formGroup]="productFormSearch" action="">
          <div id="search-box">
            <input
              type="text"
              id="search-box__input"
              formControlName="name"
              [(ngModel)]="userFilter.name"
              placeholder="Search.."
            />
            <button type="submit" id="search-box__btn">
              <i class="cil-search"></i>
            </button>
          </div>
        </form>

        <div class="women mt-3">
          <b>CATEGORIES</b>
          <hr />
          <ul>
            <li *ngFor="let item of categories">
              <a routerLink="/category/{{ item.id }}">{{ item.name }}</a>
            </li>
          </ul>
        </div>

        <div class="price pt-3">
          <b>FILTER BY PRICE</b>
          <hr />
          <div class="custom-slider">
            <ng5-slider
              [(value)]="minValue"
              [(highValue)]="maxValue"
              [options]="options"
            ></ng5-slider>
          </div>
          <button
            class="btn btn-filter mt-3 rounded-0 btn-block btn-sm mb-3"
            (click)="filterProductsByPrice()"
          >
            Filter Now
          </button>
          <button
            (click)="reset()"
            class="btn btn-warning text-white mt-3 rounded-0 btn-block btn-sm"
            (click)="filterProductsByPrice()"
          >
            Reset All
          </button>
        </div>

        <div class="compare pt-5 pageSizee">
          <b>COMPARE</b>
          <hr />
          <div class="row">
            <div class="col-md-5">
              <img
                src="https://htmldemo.net/lukani/lukani/assets/img/product/product2.jpg"
                alt=""
                width="80px"
                height="80px"
              />
            </div>

            <div class="col-md-7">
              <p>Donec Non Est</p>
              <p class="sale_price">$80.00 <del>$20.00</del></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <img
                src="https://htmldemo.net/lukani/lukani/assets/img/product/product3.jpg"
                alt=""
                width="80px"
                height="80px"
              />
            </div>

            <div class="col-md-7">
              <p>Donec Non Est</p>
              <p class="sale_price">$80.00 <del>$20.00</del></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="shop_toolbar_wrapper">
          <div class="row justify-content-around align-items-center py-2">
            <div class="dropdown pb-2 m-0">
              <button
                class="btn btn-sort dropdown-toggle"
                type="button"
                id="triggerId"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Sort by price: high to low
              </button>
              <div class="dropdown-menu" aria-labelledby="triggerId">
                <a (click)="sortBy('name', 'asc')" class="dropdown-item"
                  >Product Name: A-Z</a
                >
                <a (click)="sortBy('name', 'desc')" class="dropdown-item"
                  >Product Name: Z-A</a
                >
                <a (click)="sortBy('id', 'desc')" class="dropdown-item"
                  >Sort by newness</a
                >
                <a (click)="sortBy('price', 'desc')" class="dropdown-item"
                  >Sort by price: high to low</a
                >
                <a (click)="sortBy('price', 'asc')" class="dropdown-item"
                  >Sort by price: low to high</a
                >
                <a (click)="reset()" class="dropdown-item">Default</a>
              </div>
            </div>
            <div class="d-flex page-size">
              <p class="mr-3 font-weight-bold mt-1">Items per page</p>
              <div class="dropdown p-0 m-0">
                <button
                  class="btn btn-sort dropdown-toggle"
                  type="button"
                  id="triggerId"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  --choose--
                </button>
                <div
                  class="dropdown-menu text-center w-25"
                  aria-labelledby="triggerId"
                >
                  <a (click)="handlePerPage(3)" class="dropdown-item">3</a>
                  <a (click)="handlePerPage(6)" class="dropdown-item">6</a>
                  <a (click)="handlePerPage(9)" class="dropdown-item">9</a>
                  <a (click)="handlePerPage(12)" class="dropdown-item">12</a>
                  <a (click)="handlePerPage(15)" class="dropdown-item">15</a>
                  <a (click)="handlePerPage(18)" class="dropdown-item">18</a>
                  <a (click)="handlePerPage(24)" class="dropdown-item">24</a>
                </div>
              </div>
            </div>
            <p class="p-0 m-0 pageSizee">
              Showing {{ page }}–{{ pageSize }} of {{ results }} results
            </p>
          </div>
        </div>

        <div class="row">
          <div
            class="col-md-4"
            *ngFor="
              let item of products
                | filterBy : userFilter
                | paginate : { itemsPerPage: pageSize, currentPage: page }
            "
          >
            <div class="card text-center border-0 position-relative">
              <div class="show">
                <div class="hide-cus">
                  <div class="icon-heart position-absolute">
                    <a (click)="onFavorite(item)">
                      <img
                        src="https://mg-fashion.mgtechnologies.co.in/assets/images/heart-icon.svg"
                        alt=""
                      />
                    </a>
                  </div>
                  <div class="btn-add position-absolute">
                    <a (click)="onAddToCart(item)">Add To Bag</a>
                  </div>
                </div>
                <a (click)="getDetailProduct(item.id)">
                  <img
                    class="card-img-top img-product"
                    src="{{ item.image }}"
                    alt="image"
                  />
                </a>
              </div>
              <div class="card-body">
                <div class="text-warning star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <h5 class="card-title text-truncate">{{ item.name }}</h5>
                <div
                  class="box-price d-flex justify-content-center align-items-center"
                >
                  <p class="card-price mr-2 font-weight-bold">
                    {{ item.price | currency : "USD" : "symbol" : "0.2" }}
                  </p>
                  <p class="card-sale_price">
                    {{ item.sale_price | currency : "USD" : "symbol" : "0.2" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p
          class="text-center ml-5"
          *ngIf="(products | filterBy : userFilter).length === 0"
        >
          No matching elements
        </p>
        <pagination-controls
          class="text-center mt-3"
          (pageChange)="page = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
