<app-header></app-header>

<main>
  <div class="text-center box-title">
    <nav class="breadcrumb text-center d-flex justify-content-center">
      <a class="breadcrumb-item default" routerLink="/">Home</a>
      <span class="breadcrumb-item active">Contact</span>
    </nav>
    <h3 class="title">Contact Us</h3>
    <div class="container">
    </div>
  </div>
</main>


<main>
  <div class="text-center box-title">
      <nav class="breadcrumb text-center d-flex justify-content-center">
          <a class="breadcrumb-item default" href="/#/home">Home</a>
          <span class="breadcrumb-item active">Our Blog</span>
      </nav>
      <h3 class="title">OUR BLOG</h3>
      <div class="container">
      </div>
  </div>

</main>


<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="women">
              <b>WOMEN</b>
              <hr>
              <ul>
                  <li><a href="">Shoes</a></li>
                  <li><a href="">Bags</a></li>
                  <li><a href="">Clothing</a></li>
              </ul>
          </div>

          <div class="price pt-3">
              <b>FILTER BY PRICE</b>
              <hr>
              <input type="range" min="0" max="99" name="" id="">
              <br>
              <button class="price1">Filter</button>
          </div>

          <div class="color pt-5">
              <b>SELECT BY COLOR</b>
              <hr>
              <ul>
                  <li><a href="">Black</a></li>
                  <li><a href="">Blue</a></li>
                  <li><a href="">Brown</a></li>
                  <li><a href="">Green</a></li>
                  <li><a href="">Pink</a></li>
              </ul>
          </div>

          <div class="size pt-3">
              <b>SELECT BY SIZE</b>
              <hr>
              <ul>
                  <li><a href="">S</a></li>
                  <li><a href="">M</a></li>
                  <li><a href="">L</a></li>
                  <li><a href="">XL</a></li>
                  <li><a href="">XLL</a></li>
              </ul>
          </div>

          <div class="manufacturer pt-3">
              <b>MANUFACTURER</b>
              <hr>
              <ul>
                  <li><a href="">Brake Parts</a></li>
                  <li><a href="">Accessories</a></li>
                  <li><a href="">Engie Parts</a></li>
                  <li><a href="">Hermes</a></li>
                  <li><a href="">Louis Vuittion</a></li>
              </ul>
          </div>

          <div class="product pt-3">
              <b>PRODUCT TAGS</b>
              <hr>
              <a>Men</a>
              <a>Women</a>
              <a>Watches</a><br><br>
              <a>Bags</a>
              <a>Dress</a>
              <a>Belt</a><br><br>
              <a>Accessories</a>
              <a>Shoes</a>
          </div>

          <div class="compare pt-5">
              <b>COMPARE</b>
              <hr>
              <div class="row">
                  <div class="col-md-5">
                      <img src="https://htmldemo.net/lukani/lukani/assets/img/product/product2.jpg" alt=""
                          width="80px" height="80px">
                  </div>

                  <div class="col-md-7 ">
                      <p>Donec Non Est</p>
                      <p class="sale_price">$80.00 <del>$20.00</del></p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                      <img src="https://htmldemo.net/lukani/lukani/assets/img/product/product3.jpg" alt=""
                          width="80px" height="80px">
                  </div>

                  <div class="col-md-7">
                      <p>Donec Non Est</p>
                      <p class="sale_price">$80.00 <del>$20.00</del></p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                      <img src="https://htmldemo.net/lukani/lukani/assets/img/product/product4.jpg" alt=""
                          width="80px" height="80px">
                  </div>

                  <div class="col-md-7">
                      <p>Donec Non Est</p>
                      <p class="sale_price">$80.00 <del>$20.00</del></p>
                  </div>
              </div>
          </div>

      </div>

  </div>
</div>


<app-footer></app-footer>
