@import "../../../../styles.scss";

main {
  margin-top: 110px;
  .box-title {
    padding: 10px 0;
    background-color: #e9ecef;
    h3 {
      margin-top: 40px;
      font-family: "Lora", serif;
    }
    .default {
      text-decoration: none;
      color: #999999;
      &:hover {
        color: $main-color;
      }
    }
    .title {
      font-size: 50px;
    }
  }

  .show {
    &:hover .hide-cus {
      opacity: 1;
    }
    .hide-cus {
      opacity: 0;
      transition: all 0.5s;
      .icon-heart {
        top: 15px;
        left: 15px;
        a {
          background-color: #fff;
          width: 35px;
          border-radius: 50%;
          height: 35px;
          text-align: center;
          line-height: 32px;
          display: inline-block;
          margin-bottom: 8px;
          &:hover img {
            opacity: 1;
          }
          img {
            max-width: 18px;
            opacity: 0.4;
            display: inline-block;
          }
        }
      }
      .btn-add {
        bottom: 146px;
        width: 100%;
        a {
          bottom: 0;
          width: 100%;
          background-color: #000;
          text-align: center;
          color: #fff;
          text-decoration: none;
          padding: 8px 15px;
          display: inline-block;
          text-transform: uppercase;
          font-size: 16px;
          transition: all 0.4s;
          &:hover {
            background: $main-color;
          }
        }
      }
    }
  }

  .card-body {
    .star {
      i {
        margin: 2px 5px;
      }
    }
    .box-price {
      .card-price {
        color: $main-color;
        font-size: 19px;
      }
      .card-sale_price {
        text-decoration: line-through;
        color: $grey-color;
      }
    }
  }

  #search-box {
    background: $white-color;
    border-radius: 0px;
    border: 1px solid $grey-color;
    padding: 10px 0;
    text-align: center;
    #search-box__input {
      border: none;
      outline: none;
      padding-right: 30px;
    }
    #search-box__btn {
      border: none;
      outline: none;
      background: transparent;
    }
  }

  .widget_list {
    h3 {
      margin: 15px 0;
      font-size: 15px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 20px;
      border-bottom: 1px solid $border-e8;
    }
    form {
      input {
        border: none;
        outline: none;
        margin: 10px 0;
        border: 1px solid $grey-color;
      }
      button {
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        text-transform: capitalize;
        color: $white-color;
        background: $black-color;
        border: 0;
        border-radius: 30px;
        float: left;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        &:hover {
          background: $main-color;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 10px 0;
      a {
        text-decoration: none;
        color: #333;
        transition: all 0.3s;
        &:hover {
          color: $main-color;
        }
      }
    }
  }

  del {
    color: #333;
  }

  .breadcrumbs {
    padding-top: 20px;
    background-color: #e9ecef;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }

  .price1 {
    border-radius: 40px;
    width: 70px;
    background-color: #333;
    color: #e9ecef;
  }

  .compare {
    padding-top: 20px;
  }

  .compare .row {
    padding-top: 10px;
  }

  .sale_price {
    color: $main-color;
  }

  .text-right {
    display: flex;
  }

  .shop_toolbar_wrapper{
    margin-bottom: 10px;
    border: 1px solid $border-e8;
    .dropdown {
      .btn-sort {
        border: 1px solid $border-e8;
        text-transform: capitalize;
        &:focus {
          box-shadow: 0 0 0 $white-color;
        }
      }
      .dropdown-menu {
        text-transform: capitalize;
      }
    }
  }

}
